<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Actualizar Género</title>
    <link href="/CSS/Registrar_Form.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <h2>Actualizar Género</h2>
    
    <a href="/generos/listar" class="boton-volver">
    <img src="/img/volver.png" alt="Volver" width="20" height="20">
    </a>    
    
    <a href="/usuarios/menuPrincipal" class="boton-volver">
    <img src="/img/home.png" alt="Volver" width="20" height="20">
    </a>
    
    <div class="container">
        <div>
            <form action="/generos/actualizarGenero" method="post">
                
                <input type="hidden" id="id" name="id" th:value="${genero.id}" />
                
                <label for="nombre">Nombre del Género:</label><br>
                <input type="text" id="nombre" name="nombre" th:value="${genero.nombre}" required><br><br>
                
                <label for="descripcion">Descripción:</label><br>
                <input type="text" id="descripcion" name="descripcion" th:value="${genero.descripcion}" required><br><br>
                
                <!-- Puedes agregar más campos según necesites para el género -->
                
                <input type="submit" value="Actualizar Género">
            </form>
        </div>
    </div>
</body>
</html>
