<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registrar Género</title>
    <link rel="stylesheet" href="/css/crear.css">
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <h2>Registrar un nuevo género</h2>

            <form id="registrarForm" action="/genero/guardar" method="post">

                <!-- Campo para el nombre del género -->
                <div class="form-group">
                    <label for="nombre">Nombre del género:</label><br>
                    <input type="text" id="nombre" name="nombre" required><br><br>
                </div>

                <!-- Campo para la descripción del género -->
                <div class="form-group">
                    <label for="descripcion">Descripción del género:</label><br>
                    <input type="text" id="descripcion" name="descripcion" required><br><br>
                </div>

                <input type="submit" value="Guardar">
            </form>

            <div id="mensajeExito" class="alert alert-success" style="display: none;"></div>
            <div class="alert alert-error" th:if="${error != null}" th:text="${error}"></div>
            <div class="volver-container">
                <button class="volver-btn" onclick="window.history.back()">Volver</button>
            </div>
        </div>
    </div>

    <script src="/js/generoValidator.js"></script>
</body>
</html>
