<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Módulo Género</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/mostrarGeneroCB.css">
    </head>
    <body>
        <div class="encabezado">
            <a href="/menu" class="boton-volver"></a>
            <h2 class="listado-titulo">Lista de Géneros</h2>
            <a href="/menu" class="button volver">Volver</a>
        </div>
        <div class="botonYBuscador"> 
            <div>
                <a href="/genero/guardar" class="button">Agregar un nuevo Género</a>
            </div>
           <form th:action="@{/genero/filtrarConMasLibrosPublicados}" th:method="get">
            <label for="tipoFiltro" style="font-size: 18px;">Seleccione el filtro deseado:</label>
            <select name="top_n" class="select-filtro">
                    <option disabled selected>Cantidad de Géneros</option>
                    <option value="1">Top 1</option>
                    <option value="3">Top 3</option>
                    <option value="5" selected>Top 5</option>
                    <option value="10">Top 10</option>
                </select>
            <button type="submit">Enviar</button>
        </form>
        </div>
        <div>
            <table class="table table-bordered">
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>    
                    <th>Acciones</th>     
                </tr >
                <tr th:each="genero : ${generos}"> 
                    <td th:text="${genero.nombre}"></td>
                    <td th:text="${genero.descripcion}"></td>
                    <td>
                        <form method="post" th:action="@{/genero/actualizarForm}">
                            <input type="hidden" th:name="id" th:value="${genero.id}" />
                            <button type="submit" class="editar-button">Editar</button>
                        </form>
                        <a href="javascript:void(0);" class="eliminar-button" th:onclick="'confirmarEliminacion(\'genero\', ' + ${genero.id} + ');'">Eliminar</a>
                    </td>
                </tr>
            </table>
         <script src="/js/deleteConfirmation.js"></script>
        </div>

        <div class="alert alert-success" th:if="${exito!=null}" th:text="${exito}"></div>
        <div class="alert alert-error" th:if="${error!=null}" th:text="${error}"></div>
    </body>
</html>
