<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Módulo Género</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mostrar.css">
</head>
<body>
    <div class="encabezado">
        <a href="/menu" class="boton-volver"></a>
        <h2 class="listado-titulo">Lista de Géneros</h2>
    </div>
    <div class="botonYBuscador"> 
        <div>
            <a href="/genero/guardar" class="button">Agregar un nuevo Género</a>
        </div>
    </div>
    <div>
        <table class="table table-bordered">
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>    
                <th>Acciones</th>     
            </tr >
            <tr th:each="genero : ${generos}"> 
                <td><a class="editar-button" th:href="@{'/genero/actualizar?id=' + ${genero.id}}">Editar</a></td>
                <td><a class="eliminar-button" href="#" th:onclick="'confirmarEliminacion(this, \'' + ${genero.id} + '\')'">Eliminar</a></td>
            </tr>
        </table>

        <script>
            function confirmarEliminacion(enlace, idGenero) {
                if (confirm("¿Está seguro de que desea eliminar esta Género?")) {
                    window.location.href = '/genero/eliminar?id=' + idGenero;
                }
            }
        </script>
    </div>

    <div class="alert alert-success" th:if="${exito!=null}" th:text="${exito}"></div>
    <div class="alert alert-error" th:if="${error!=null}" th:text="${error}"></div>
</body>
</html>
