<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Módulo Persona</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/CSS/ADMIN_STYLES.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="encabezado">
        <a href="/usuarios/menuPrincipal" class="boton-volver">
            <img src="/img/LOGO.png" alt="Volver" width="95" height="80">
        </a>
        <h3 class="listado-titulo">Lista de Personas</h3>
    </div>
    <div class="botonYBuscador"> 
        <div>
            <a href="/personas/agregar" class="button">Agregar una nueva persona</a>
        </div>

        <form action="/personas/buscarPorIdentificacion" method="GET">
            <input type="text" id="identificacion" name="identificacion" placeholder="Ingrese la identificación">
            <button type="submit">Buscar</button>
        </form>
    </div>
    <div>
        <table class="table table-bordered">
            <tr>
                <th>ID</th>
                <th>Nombre Completo</th>
                <th>Identificación</th>
                <th>Dirección</th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="persona : ${personas}">
                <td th:text="${persona.id}"></td>
                <td th:text="${persona.nombre} + ' ' + ${persona.primerApellido} + ' ' + ${persona.segundoApellido}"></td>
                <td th:text="${persona.identificacion}"></td>
                <td th:text="${persona.direccion.descripcion}"></td>
                <td><a class="editar-button" th:href="@{'/personas/actualizar?id=' + ${persona.id}}">Editar</a></td>
                <td><a class="eliminar-button" href="#" th:onclick="'confirmarEliminacion(this, \'' + ${persona.id} + '\')'">Eliminar</a></td>
            </tr>
        </table>

        <script>
            function confirmarEliminacion(enlace, idPersona) {
                if (confirm("¿Está seguro de que desea eliminar esta persona?")) {
                    window.location.href = '/personas/eliminar?id=' + idPersona;
                }
            }
        </script>
    </div>

    <div class="alert alert-success" th:if="${exito!=null}" th:text="${exito}"></div>
    <div class="alert alert-error" th:if="${error!=null}" th:text="${error}"></div>
</body>
</html>
