<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registrar Multa</title>
    <link href="/CSS/Registrar_Form.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <h2>Registrar una nueva Multa</h2>
    
<div class="container">
    <div>
    <form action="/multa/guardar" method="post">
        
        <label for="monto">Monto:</label><br>
        <input type="number" id="monto" name="monto" step="0.01" required><
        <label for="dias_atraso">Días de Atraso:</label><br>
        <input type="number" id="dias_atraso" name="dias_atraso" required><br>
        
        <label for="cancelada">Cancelada:</label><br>
        <input type="checkbox" id="cancelada" name="cancelada"><br>
        
        <label for="prestamo">Préstamo:</label><br>
        <input type="text" id="prestamo" name="prestamo" required><br>
        
        <input type="submit" value="Guardar">
    </form>
    </div>
</div>
  <div class="alert alert-success" th:if="${exito!=null}" th:text="${exito}"></div>
  <div class="alert alert-error" th:if="${error!=null}" th:text="${error}"></div>
</body>
</html>
