<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registrar Multa</title>
    <link href="/CSS/crear.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="container">
        <div>
            <form id="registrarForm" action="/multa/guardar" method="post">
                
                <h2>Registrar una nueva Multa</h2>
                
                <!-- Campo para el monto de la multa -->
                <label for="monto">Monto:</label><br>
                <input type="text" id="monto" name="monto" pattern="[0-9]*" required><br><br>
                
                <!-- Campo para los días de atraso -->
                <label for="dias_atraso">Días de Atraso:</label><br>
                <input type="text" id="dias_atraso" name="dias_atraso" pattern="[0-9]*" required><br><br>
                
                <!-- Campo para indicar si la multa está cancelada -->
                <label for="cancelada">Cancelada:</label><br>
                <!-- Aumentar el tamaño del checkbox y agregar margen izquierdo -->
                <input type="checkbox" id="cancelada" name="cancelada" style="width: 20px; height: 20px; margin-left: 30px;"><br><br>
                
                <!-- Combo box para seleccionar el préstamo -->
                <label for="id_prestamo">Préstamo:</label><br>
                <select id="id_prestamo" name="id_prestamo" required>
                    <option th:each="prestamo : ${prestamos}" 
                            th:value="${prestamo.id}" 
                            th:text="${prestamo.id}">
                    </option>
                </select><br><br>
                
                <input type="submit" value="Guardar">
            </form>
        </div>
    </div>
    
    <div id="mensajeExito" class="alert alert-success" style="display: none;"></div>
    <div class="alert alert-error" th:if="${error != null}" th:text="${error}"></div>
    
    <script src="/js/multaValidator.js"></script>
    <script src="/js/formSubmission.js"></script>
</body>
</html>
