<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Módulo Multa</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mostrarMultaCB.css">
</head>
<body>
    <div class="encabezado">
        <a href="/menu" class="boton-volver"></a>
        <h2 class="listado-titulo">Lista de Multas</h2>
        <a href="/menu" class="button volver">Volver</a>
    </div>
    
    <div id="mensajeExito" class="alert alert-success" style="display: none;"></div>
    
    <div class="botonYBuscador"> 
        <div>
            <a href="/multa/guardar" class="button">Agregar una nueva Multa</a>
        </div>
    </div>
    <div>
        <table class="table table-bordered">
            <tr>
                <th>Monto</th>
                <th>Días de Atraso</th>   
                <th>Cancelada</th> 
                <th>Libro Prestado</th>
                <th>Socio</th>
                <th>Acciones</th>     
            </tr >
            <tr th:each="multa : ${multas}"> 
                <td th:text="${multa.monto}"></td>
                <td th:text="${multa.dias_atraso}"></td>
                <td th:text="${multa.cancelada}"></td>
                <td th:text="${multa.prestamo.libro.titulo}"></td>
                <td th:text="${multa.prestamo.socio.persona.nombre + ' ' + multa.prestamo.socio.persona.primerApellido + ' ' + multa.prestamo.socio.persona.segundoApellido}"></td>
                <td>
                    <form method="post" th:action="@{/multa/actualizarForm}">
                        <input type="hidden" th:name="id" th:value="${multa.id}" />
                        <button type="submit" class="editar-button">Editar</button>
                    </form>
                        <a href="javascript:void(0);" class="eliminar-button" th:onclick="'confirmarEliminacion(\'multa\', ' + ${multa.id} + ');'">Eliminar</a>
                </td>
            </tr>
        </table>
        <script src="/js/deleteConfirmation.js"></script>
    </div>

    <div class="alert alert-success" th:if="${exito!=null}" th:text="${exito}"></div>
    <div class="alert alert-error" th:if="${error!=null}" th:text="${error}"></div>
</body>
</html>
