<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Actualizar Préstamo</title>
    <link rel="stylesheet" href="/css/actualizar.css">
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <h2>Actualizar Préstamo</h2>
            <form id="actualizarPrestamoForm" action="/prestamo/actualizar/" method="post">
                <input type="hidden" id="id" name="id" th:value="${prestamo.id}" />
                <div class="form-group">
                    <label for="fecha_prestamo">Fecha de Préstamo:</label>
                    <input type="date" id="fecha_prestamo" name="fecha_prestamo" th:value="${#dates.format(prestamo.fechaPrestamo, 'yyyy-MM-dd')}" required>
                </div>
                <div class="form-group">
                    <label for="fecha_devolucion_prevista">Fecha de Devolución Prevista:</label>
                    <input type="date" id="fecha_devolucion_prevista" name="fecha_devolucion_prevista" th:value="${#dates.format(prestamo.fechaDevolucionPrevista, 'yyyy-MM-dd')}" required>
                </div>
                <div class="form-group">
                    <button type="submit">Actualizar</button>
                </div>
                
            </form>
            <div id="mensajeExito" style="display:none;color:green;"></div>
                <div id="mensajeError" style="display:none;color:red;"></div>
            <div id="mensajeExito" style="display:none;color:green;"></div>
                <div id="mensajeError" style="display:none;color:red;"></div>
        </div>
    </div>
    <script src="/js/dataPrestamoActualizarValidate.js"></script>
</body>
</html>
