<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registrar Préstamo</title>
    <link href="/CSS/crear.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="container">
        <div>
            <h2>Registrar un nuevo Préstamo</h2>
            
            <form id="registrarForm" action="/prestamo/guardar" method="post">

                <label for="fecha_prestamo">Fecha de Préstamo:</label><br>
                <input type="date" id="fecha_prestamo" name="fecha_prestamo" required><br>

                <label for="fecha_devolucion_prevista">Fecha de Devolución Prevista:</label><br>
                <input type="date" id="fecha_devolucion_prevista" name="fecha_devolucion_prevista" required><br>

                <label for="id_libro">Libro:</label><br>
                <select id="id_libro" name="id_libro" required>
                    <option th:each="libro : ${libros}" 
                            th:value="${libro.id}" 
                            th:text="${libro.titulo}">
                    </option>
                </select>

                <label for="id_socio">Socio:</label><br>
                <select id="id_socio" name="id_socio" required>
                    <option th:each="socio : ${socios}" 
                            th:value="${socio.id}" 
                            th:text="${socio.persona.nombre + ' ' + socio.persona.primerApellido}">
                    </option>
                </select>

                <input type="submit" value="Guardar">
            </form>
        </div>
    </div>

    <div id="mensajeExito" class="alert alert-success" style="display: none;"></div>
    <div class="alert alert-error" th:if="${error!=null}" th:text="${error}"></div>

    <script src="/js/prestamoValidator.js"></script>
    <script src="/js/formSubmission.js"></script>
</body>
</html>
