<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registrar Préstamo</title>
    <link href="/CSS/Registrar_Form.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <h2>Registrar un nuevo Préstamo</h2>
        
<div class="container">
    <div>
    <form action="/prestamo/guardar" method="post">

        
        <label for="fechaPrestamo">Fecha de Préstamo:</label><br>
        <input type="date" id="fechaPrestamo" name="fechaPrestamo" required><br>
        
        <label for="fechaDevolucionPrevista">Fecha de Devolución Prevista:</label><br>
        <input type="date" id="fechaDevolucionPrevista" name="fechaDevolucionPrevista" required><br>
        
        <label for="libro">Libro:</label><br>
        <input type="text" id="libro" name="libro" required><br>
        
        <label for="socio">Socio:</label><br>
        <input type="text" id="socio" name="socio" required><br>
        
        <input type="submit" value="Guardar">
    </form>
    </div>
</div>
  <div class="alert alert-success" th:if="${exito!=null}" th:text="${exito}"></div>
  <div class="alert alert-error" th:if="${error!=null}" th:text="${error}"></div>
</body>
</html>
