<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Módulo Préstamo</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mostrar.css">
</head>
<body>
    <div class="encabezado">
        <a href="/menu" class="boton-volver"></a>
        <h2 class="listado-titulo">Lista de Préstamos</h2>
        <a href="/menu" class="button volver">Volver</a>
    </div>
    
    <div id="mensajeExito" class="alert alert-success" style="display: none;"></div>
    
    <div class="botonYBuscador"> 
        <div>
            <a href="/prestamo/guardar" class="button">Agregar un nuevo préstamo</a>
        </div>
    </div>
    <div>
        <table class="table table-bordered">
            <tr>
                <th>Fecha Préstamo</th>
                <th>Fecha Devolución Prevista</th> 
                <th>Identif. Socio</th> 
                <th>Nombre Socio</th> 
                <th>Libro</th> 
                <th>Acciones</th>     
            </tr >
            <tr th:each="prestamo : ${prestamos}"> 
                <td th:text="${prestamo.fechaPrestamoFormateada}"></td>
                <td th:text="${prestamo.fechaDevolucionPrevistaFormateada}"></td>
                <td th:text="${prestamo.socio.persona.identificacion}"></td>
                <td th:text="${prestamo.socio.persona.nombre + ' ' + prestamo.socio.persona.primerApellido + ' ' + prestamo.socio.persona.segundoApellido}"></td>
                <td th:text="${prestamo.libro.titulo}"></td>
                <td>
                    <form method="post" th:action="@{/prestamo/actualizarForm}">
                        <input type="hidden" th:name="id" th:value="${prestamo.id}" />
                        <button type="submit" class="editar-button">Editar</button>
                    </form>
                    <a href="javascript:void(0);" class="eliminar-button" th:onclick="'confirmarEliminacion(\'prestamo\', ' + ${prestamo.id} + ');'">Eliminar</a>
                </td>
            </tr>
        </table>
         <script src="/js/deleteConfirmation.js"></script>
    </div>

    <div class="alert alert-success" th:if="${exito!=null}" th:text="${exito}"></div>
    <div class="alert alert-error" th:if="${error!=null}" th:text="${error}"></div>
</body>
</html>
