<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registrar Devolución</title>
    <link href="/CSS/Registrar_Form.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <h2>Registrar una nueva Devolución</h2>

<div class="container">
    <div>
    <form action="/devolucion/guardar" method="post">
        
        <label for="fechaDevolucionEfectuada">Fecha de Devolución Efectuada:</label><br>
        <input type="date" id="fechaDevolucionEfectuada" name="fechaDevolucionEfectuada" required><br>
        
        <label for="prestamo">Préstamo:</label><br>
        <input type="text" id="prestamo" name="prestamo" required><br>
        
        <input type="submit" value="Guardar">
    </form>
    </div>
</div>
  <div class="alert alert-success" th:if="${exito!=null}" th:text="${exito}"></div>
  <div class="alert alert-error" th:if="${error!=null}" th:text="${error}"></div>
</body>
</html>
