<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Cantón</title>
</head>
<body>
    <h1>Actualizar Cantón</h1>
    
    <form action="/cantones/actualizarCanton" method="post">
        <input type="hidden" name="id" th:value="${canton.id}" />

        <label for="nombre">Nombre del Cantón:</label><br>
        <input type="text" id="nombre" name="nombre" th:value="${canton.nombre}" required><br><br>

        <label for="provincia">Provincia asociada:</label><br>
        <select id="provincia" name="provincia" required>
            <option value="">Selecciona una provincia</option>

            <option th:each="provincia : ${provincias}" 
                    th:value="${provincia.id}" 
                    th:text="${provincia.nombre}">
            </option>

        </select><br><br>

        <label for="distrito">Distrito asociado:</label><br>
        <select id="distrito" name="distrito" required>
            <option value="">Selecciona un distrito</option>

            <option th:each="distrito : ${distritos}" 
                    th:value="${distrito.id}" 
                    th:text="${distrito.nombre}">
            </option>

        </select><br><br>

        <input type="submit" value="Actualizar Cantón">
    </form>

    <script>
    </script>
</body>
</html>
