<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Actualizar Socio</title>
    <link href="/CSS/actualizar.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="container">
        <div>
            <h2>Actualizar Socio</h2>

            <form id="actualizarSocioForm" action="/socio/actualizar" method="post">
                <!-- Campo oculto para el ID del socio -->
                <input type="hidden" id="id" name="id" th:value="${socio.id}" />

                <!-- Campo para el nombre -->
                <label for="nombre">Nombre:</label><br>
                <input type="text" id="nombre" name="nombre" th:value="${socio.persona.nombre}" required><br>

                <!-- Campo para el primer apellido -->
                <label for="primer_apellido">Primer Apellido:</label><br>
                <input type="text" id="primer_apellido" name="primer_apellido" th:value="${socio.persona.primerApellido}" required><br>

                <!-- Campo para el segundo apellido -->
                <label for="segundo_apellido">Segundo Apellido:</label><br>
                <input type="text" id="segundo_apellido" name="segundo_apellido" th:value="${socio.persona.segundoApellido}" required><br>

                <!-- Campo para la identificación -->
                <label for="identificacion">Identificación:</label><br>
                <input type="text" id="identificacion" name="identificacion" th:value="${socio.persona.identificacion}" required><br>

                <!-- Campo para el código postal -->
                <label for="codigo_postal">Código Postal:</label><br>
                <input type="text" id="codigo_postal" name="codigo_postal" th:value="${socio.persona.direccion.codigoPostal}" pattern="[0-9]*" required><br>

                <!-- Campo para la descripción de la dirección -->
                <label for="descripcion_direccion">Dirección:</label><br>
                <input type="text" id="descripcion_direccion" name="descripcion_direccion" th:value="${socio.persona.direccion.descripcion}" required><br>

                <div class="form-group">
                    <button type="submit">Actualizar</button>
                </div>
                
            </form>
  
        <div id="mensajeExito" class="alert alert-success" style="display: none;"></div>
        <div id="mensajeError" class="alert alert-error" style="display: none;"></div>

        <div class="volver-container">
            <button class="volver-btn" onclick="window.history.back()">Volver</button>
        </div>
    </div>

    <script src="/js/dataSocioActualizarValidate.js"></script>
</body>
</html>
