<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Módulo Distrito</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/CSS/ADMIN_STYLES.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="encabezado">
        <a href="/usuarios/menuPrincipal" class="boton-volver">
            <img src="/img/LOGO.png" alt="Volver" width="95" height="80">
        </a>
        <h3 class="listado-titulo">Lista de Distritos</h3>
    </div>
    <div class="botonYBuscador"> 
        <div>
            <a href="/distritos/agregar" class="button">Agregar un nuevo distrito</a>
        </div>

        <form action="/distritos/buscarPorNombre" method="GET">
            <input type="text" id="nombre" name="nombre" placeholder="Ingrese el nombre del distrito">
            <button type="submit">Buscar</button>
        </form>
    </div>
    <div>
        <table class="table table-bordered">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Cantón</th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="distrito : ${distritos}">
                <td th:text="${distrito.id}"></td>
                <td th:text="${distrito.nombre}"></td>
                <td th:text="${distrito.canton.nombre}"></td>
                <td><a class="editar-button" th:href="@{'/distritos/actualizar?id=' + ${distrito.id}}">Editar</a></td>
                <td><a class="eliminar-button" href="#" th:onclick="'confirmarEliminacion(this, \'' + ${distrito.id} + '\')'">Eliminar</a></td>
            </tr>
        </table>

        <script>
            function confirmarEliminacion(enlace, idDistrito) {
                if (confirm("¿Está seguro de que desea eliminar este distrito?")) {
                    window.location.href = '/distritos/eliminar?id=' + idDistrito;
                }
            }
        </script>
    </div>

    <div class="alert alert-success" th:if="${exito!=null}" th:text="${exito}"></div>
    <div class="alert alert-error" th:if="${error!=null}" th:text="${error}"></div>
</body>
</html>
