<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registrar Correo Electrónico</title>
    <link href="/CSS/Registrar_Form.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <h2>Registrar un nuevo Correo Electrónico</h2>

<div class="container">
    <div>
    <form action="/correo/guardar" method="post">
     
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>
        
        <label for="persona">Persona:</label><br>
        <input type="text" id="persona" name="persona" required><br>
        
        <input type="submit" value="Guardar">
    </form>
    </div>
</div>
  <div class="alert alert-success" th:if="${exito!=null}" th:text="${exito}"></div>
  <div class="alert alert-error" th:if="${error!=null}" th:text="${error}"></div>
</body>
</html>
