<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registrar Correo Electrónico</title>
    <link href="/CSS/Registrar_Form.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <h2>Registrar un nuevo Correo Electrónico</h2>
       
    <a href="/correos/listarAdmin" class="boton-volver">
    <img src="/img/volver.png" alt="Volver" width="20" height="20">
    </a>    
    
    <a href="/usuarios/menuPrincipal" class="boton-volver">
    <img src="/img/home.png" alt="Volver" width="20" height="20">
    </a>
    
<div class="container">
    <div>
    <form action="/correos/guardar-correo" method="post">

        <label for="id">ID:</label><br>
        <input type="text" id="id" name="id" readonly><br>
        
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>
        
        <label for="persona">Persona:</label><br>
        <input type="text" id="persona" name="persona" required><br>
        
        <input type="submit" value="Guardar">
    </form>
    </div>
</div>
  <div class="alert alert-success" th:if="${exito!=null}" th:text="${exito}"></div>
  <div class="alert alert-error" th:if="${error!=null}" th:text="${error}"></div>
</body>
</html>
