<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Menú de Navegación</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/navbar.css">
        <link rel="stylesheet" href="/css/gallery.css">  
    </head>
    <body>

        <div class="navbar">
            <ul>                                                                                         
                <li><a href="#">Autor</a>
                    <ul>
                        <li><a href="/">Ver Autores</a></li>
                        <li><a href="/autor/guardar">Registrar Autores</a></li>
                    </ul>
                </li>

                <li><a href="#">Libro</a>
                    <ul>
                        <li><a href="/">Ver Libros</a></li>
                        <li><a href="/libro/guardar">Registrar Libros</a></li>
                    </ul>
                </li>

                <li><a href="#">Editorial</a>
                    <ul>
                        <li><a href="/">Ver Editoriales</a></li>
                        <li><a href="/editorial/guardar">Registrar Editoriales</a></li>
                    </ul>
                </li>

                <li><a href="#">Género</a>
                    <ul>
                        <li><a href="/">Ver Géneros</a></li>
                        <li><a href="/genero/guardar">Registrar Géneros</a></li>
                    </ul>
                </li>

                <li><a href="#">Socio</a>
                    <ul>
                        <li><a href="/">Ver Socios</a></li>
                        <li><a href="/socio/guardar">Registrar Socios</a></li>
                    </ul>
                </li>

                <li><a href="#">Préstamo</a>
                    <ul>
                        <li><a href="/">Ver Préstamos</a></li>
                        <li><a href="/prestamo/guardar">Registrar Préstamos</a></li>
                    </ul>
                </li>    

                <li><a href="#">Multa</a>
                    <ul>
                        <li><a href="/">Ver Multas</a></li>
                        <li><a href="/multa/guardar">Registrar Multas</a></li>
                    </ul>
                </li>

                <li><a href="#">Devolución</a>
                    <ul>
                        <li><a href="/">Ver Devoluciones</a></li>
                        <li><a href="/devolucion/guardar">Registrar Devoluciones</a></li>
                    </ul>
                </li>

            </ul>
        </div>
        
        <h1 class="header-title">Bienvenidos a la Biblioteca </h1>

        <div class="image-gallery">
            <img src="/images/Principito.jpg" alt="El Principito">
            <img src="/images/Quijote.jpg" alt="Don Quijote">
            <img src="/images/Rico.jpg" alt="Piense y Hágase Rico">
            <img src="/images/Viento.jpg" alt="Lo Que El Viento Se Llevó">
            <img src="/images/Harry.jpg" alt="Harry Potter">
            <img src="/images/DaVinci.jpg" alt="El Código Da Vinci">
            <img src="/images/Crepusculo.jpg" alt="Crepúsculo">
            <img src="/images/Biblia.jpg" alt="Santa Biblia">
            <img src="/images/Anillos.jpg" alt="El Señor De Los Anillos">
            <img src="/images/Alicia.jpg" alt="Alicia En El País De Las Maravillas">
            <img src="/images/Heidi.jpg" alt="Heidi">
            <img src="/images/Pinocho.jpg" alt="Pinocho">
            <img src="/images/Orgullo.jpg" alt="Orgullo y Prejuicio">
            <img src="/images/Odisea.jpg" alt="Odisea">
            
        </div>

         </body>
</html>