<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registrar Dirección</title>
    <link href="/CSS/Registrar_Form.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <h2>Registrar una nueva Dirección</h2>
       
    <a href="/direcciones/listarAdmin" class="boton-volver">
    <img src="/img/volver.png" alt="Volver" width="20" height="20">
    </a>    
    
    <a href="/usuarios/menuPrincipal" class="boton-volver">
    <img src="/img/home.png" alt="Volver" width="20" height="20">
    </a>
    
<div class="container">
    <div>
    <form action="/direcciones/guardar-direccion" method="post">

        <label for="id">ID:</label><br>
        <input type="text" id="id" name="id" readonly><br>
        
        <label for="codigoPostal">Código Postal:</label><br>
        <input type="text" id="codigoPostal" name="codigoPostal" required><br>
        
        <label for="descripcion">Descripción:</label><br>
        <textarea id="descripcion" name="descripcion" rows="4" cols="50" required></textarea><br>
        
        <label for="distrito">Distrito:</label><br>
        <input type="text" id="distrito" name="distrito" required><br>
        
        <input type="submit" value="Guardar">
    </form>
    </div>
</div>
  <div class="alert alert-success" th:if="${exito!=null}" th:text="${exito}"></div>
  <div class="alert alert-error" th:if="${error!=null}" th:text="${error}"></div>
</body>
</html>
