<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    
    
<head>
    <title>Registrar Dirección</title>
    <link href="/CSS/Registrar_Form.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <h2>Registrar una nueva Dirección</h2>
       
    
<div class="container">
    <div>
    <form action="/direccion/guardar" method="post">

        
        <label for="codigoPostal">Código Postal:</label><br>
        <input type="text" id="codigoPostal" name="codigoPostal" required><br>
        
        <label for="descripcion">Descripción:</label><br>
        <textarea id="descripcion" name="descripcion" rows="4" cols="50" required></textarea><br>
        
        <label for="distrito">Distrito:</label><br>
        <input type="text" id="distrito" name="distrito" required><br>
        
        <input type="submit" value="Guardar">
    </form>
    </div>
</div>
  <div class="alert alert-success" th:if="${exito!=null}" th:text="${exito}"></div>
  <div class="alert alert-error" th:if="${error!=null}" th:text="${error}"></div>
</body>
</html>
