<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="login-page">
        <div class="book-image">
            <img src="/images/Libro.jpg" alt="Biblioteca"> 
        </div>
        <div class="login-container">
            <div class="app-title">
                <h1>App Biblioteca</h1>
            </div>
            <h2>Iniciar Sesión</h2>
            <form id="loginForm">
                <label for="username">Nombre de Usuario</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Contraseña</label>
                <input type="password" id="password" name="password" required>

                <button type="submit">Ingresar</button>
            </form>
            <div id="errorMessage" class="error"></div>
        </div>
    </div>

    <script src="/js/loginValidation.js"></script>
</body>
</html>
