<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Actualizar Libro</title>
    <link rel="stylesheet" href="/css/actualizar.css">
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <h2>Actualizar Libro</h2>
            <form id="actualizarLibroForm" action="/libro/actualizar/" method="post">
                <input type="hidden" id="id" name="id" th:value="${libro.id}" />
                <div class="form-group">
                    <label for="isbn">ISBN:</label>
                    <input type="text" id="isbn" name="isbn" th:value="${libro.isbn}" required>
                </div>
                <div class="form-group">
                    <label for="titulo">Título:</label>
                    <input type="text" id="titulo" name="titulo" th:value="${libro.titulo}" required>
                </div>
                <div class="form-group">
                    <label for="sinopsis">Sinopsis:</label>
                    <textarea id="sinopsis" name="sinopsis" th:value="${libro.sinopsis}" required></textarea>
                </div>
                <div class="form-group">
                    <label for="fechaPublicacion">Fecha de Publicación:</label>
                    <input type="date" id="fecha_publicacion" name="fecha_publicacion" th:value="${#dates.format(libro.fechaPublicacion, 'dd-MM-yyyy')}" required>
                </div>
                <div class="form-group">
                    <label for="cantidad">Cantidad:</label>
                    <input type="text" id="cantidad" name="cantidad" th:value="${libro.cantidad}" required pattern="[0-9]+" title="Por favor ingrese solo números">
                </div>
                <div class="form-group">
                    <label for="autor">Autor:</label>
                    <select id="autor" name="id_autor" th:value="${libro.autor.id}" required>
                        <option th:each="autor : ${autores}" th:value="${autor.id}" th:text="${autor.nombre}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="editorial">Editorial:</label>
                    <select id="editorial" name="id_editorial" th:value="${libro.editorial.id}" required>
                        <option th:each="editorial : ${editoriales}" th:value="${editorial.id}" th:text="${editorial.nombre}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="generos">Géneros:</label>
                    <select id="generos" name="ids_generos" multiple required>
                        <option th:each="genero : ${generos}" th:value="${genero.id}" th:text="${genero.nombre}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit">Actualizar</button>
                </div>
                <div id="mensajeExito" style="display:none;color:green;"></div>
                <div id="mensajeError" style="display:none;color:red;"></div>
            </form>
        </div>
    </div>
    <script src="/js/dataLibroActualizarValidate.js"></script>
</body>
</html>
