<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registrar Libro</title>
    <link rel="stylesheet" href="/css/crear.css">
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <h2>Registrar un nuevo libro</h2>

            <form id="registrarLibroForm" action="/libro/guardar" method="post" onsubmit="concatenarIds()">

                <!-- Campo para el ISBN del libro -->
                <div class="form-group">
                    <label for="ISBN">ISBN:</label>
                    <input type="text" id="ISBN" name="ISBN" required>
                </div>
                
                <!-- Campo para el título del libro -->
                <div class="form-group">
                    <label for="titulo">Título:</label>
                    <input type="text" id="titulo" name="titulo" required>
                </div>
                
                <!-- Campo para la sinopsis del libro -->
                <div class="form-group">
                    <label for="sinopsis">Sinopsis:</label>
                    <textarea id="sinopsis" name="sinopsis" required></textarea>
                </div>
                
                <!-- Campo para la fecha de publicación del libro -->
                <div class="form-group">
                    <label for="fecha_publicacion">Fecha de Publicación:</label>
                    <input type="date" id="fecha_publicacion" name="fecha_publicacion" required>
                </div>
                
                <!-- Campo para la cantidad de libros disponibles -->
                <div class="form-group">
                    <label for="cantidad">Cantidad:</label>
                    <input type="text" id="cantidad" name="cantidad" required pattern="[0-9]+" title="Por favor ingrese solo números">
                </div>
                
                <!-- Combo box para seleccionar el autor -->
                <div class="form-group">
                    <label for="id_autor">Autor:</label>
                    <select id="id_autor" name="id_autor" required>
                        <option th:each="autor : ${autores}" 
                                th:value="${autor.id}" 
                                th:text="${autor.persona.nombre}">
                        </option>
                    </select>
                </div>
                
                <!-- Combo box para seleccionar la editorial -->
                <div class="form-group">
                    <label for="id_editorial">Editorial:</label>
                    <select id="id_editorial" name="id_editorial" required>
                        <option th:each="editorial : ${editoriales}" 
                                th:value="${editorial.id}" 
                                th:text="${editorial.nombre}">
                        </option>
                    </select>
                </div>
                
                <!-- Combo box para seleccionar los géneros -->
                <div class="form-group">
                    <label for="id_generos">Géneros:</label>
                    <select id="generos" name="generos" multiple required>
                        <option th:each="genero : ${generos}" 
                                th:value="${genero.id}" 
                                th:text="${genero.nombre}">
                        </option>
                    </select>
                </div>
                <input type="hidden" id="id_generos" name="id_generos" />
                
                <input type="submit" value="Guardar">
            </form>

            <div class="alert alert-success" th:if="${exito != null}" th:text="${exito}"></div>
            <div class="alert alert-error" th:if="${error != null}" th:text="${error}"></div>
        </div>
    </div>
    
    <script>
        // Validación del formulario
        document.getElementById("registrarLibroForm").addEventListener("submit", function(event) {
            var isbn = document.getElementById("ISBN").value;
            var titulo = document.getElementById("titulo").value;
            var sinopsis = document.getElementById("sinopsis").value;
            var fechaPublicacion = document.getElementById("fecha_publicacion").value;
            var cantidad = document.getElementById("cantidad").value;
            var autor = document.getElementById("id_autor").value;
            var editorial = document.getElementById("id_editorial").value;
            var generos = document.getElementById("id_generos").selectedOptions;
            
            // Validaciones
            if (isbn.trim() === "" || titulo.trim() === "" || sinopsis.trim() === "" || 
                fechaPublicacion.trim() === "" || cantidad.trim() === "" || autor === "" || 
                editorial === "" || generos.length === 0) {
                alert("Por favor complete todos los campos.");
                event.preventDefault();
            } else {
                // Validar que la cantidad sea un número
                if (isNaN(cantidad)) {
                    alert("La cantidad debe ser un número.");
                    event.preventDefault();
                }

                // Validar que la fecha de publicación no sea una fecha futura
                var currentDate = new Date().toISOString().split('T')[0];
                if (fechaPublicacion > currentDate) {
                    alert("La fecha de publicación no puede ser una fecha futura.");
                    event.preventDefault();
                }
            }
        });
        
        //Concatenar ids:
        function concatenarIds() {
            const select = document.getElementById('generos');
            let selectedIds = [];
            for (let option of select.options) {
                if (option.selected) {
                    selectedIds.push(option.value);
                }
            }
            document.getElementById('id_generos').value = selectedIds.join(',');
        }
    </script>
</body>
</html>
