<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registrar Editorial</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/crear.css">
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <form id="registrarEditorialForm" action="/editorial/guardar" method="post">
                <h2 style="text-align: center;">Registrar una nueva editorial</h2>

                <div class="form-group">
                    <label for="nombre">Nombre de la editorial:</label>
                    <input type="text" id="nombre" name="nombre" required>
                </div>
                
                <div class="form-group">
                    <label for="fecha_fundacion">Fecha de fundación:</label>
                    <input type="date" id="fecha_fundacion" name="fecha_fundacion" required>
                </div>

                <div class="form-group">
                    <label for="codigo_postal">Código Postal:</label>
                    <input type="text" id="codigo_postal" name="codigo_postal" required>
                </div>
                
                <div class="form-group">
                    <label for="descripcion_direccion">Dirección:</label>
                    <input type="text" id="descripcion_direccion" name="descripcion_direccion" required>
                </div>
                
                <div class="form-group">
                    <label for="id_distrito">Distrito:</label>
                    <input type="text" id="id_distrito" name="id_distrito" required>
                </div>
                
                <input type="submit" value="Guardar">
            </form>

            <div id="mensajeExito" class="alert alert-success" style="display: none;"></div>
            <div class="alert alert-error" th:if="${error != null}" th:text="${error}"></div>
            <div class="volver-container">
                <button class="volver-btn" onclick="window.history.back()">Volver</button>
            </div>
        </div>
    </div>
    <script src="/js/editorialValidator.js"></script>
    <script src="/js/formSubmission.js"></script>
</body>
</html>
