<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Módulo Editorial</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/mostrarEditorialCB.css">
    </head>
    <body>
        <div class="encabezado">
            <a href="/menu" class="boton-volver"></a>
            <h2 class="listado-titulo">Lista de Editoriales</h2>
            <a href="/menu" class="button volver">Volver</a>
        </div>
        <div class="botonYBuscador"> 
            <div>
                <a href="/editorial/guardar" class="button">Agregar una nueva editorial</a>
            </div>
            <form th:action="@{/editorial/filtrarConMasLibros}" th:method="get">
                <label for="tipoFiltro" style="font-size: 18px;">Seleccione el filtro deseado:</label>
                <select name="top_n" class="select-filtro">
                    <option disabled selected>Cantidad de Editoriales</option>
                    <option value="1">Top 1</option>
                    <option value="3">Top 3</option>
                    <option value="5" selected>Top 5</option>
                    <option value="10">Top 10</option>
                </select>
                <button type="submit">Enviar</button>
            </form>
        </div>
        <div>
            <table class="table table-bordered">
                <tr>
                    <th>Nombre</th>
                    <th>Fecha Fundación</th>
                    <th>Código Postal</th>
                    <th>Dirección</th>
                    <th>Acciones</th>     
                </tr >
                <tr th:each="editorial : ${editoriales}"> 
                    <td th:text="${editorial.nombre}"></td>
                    <td th:text="${editorial.fechaFundacionFormateada}"></td>
                    <td th:text="${editorial.direccion.codigoPostal}"></td>
                    <td th:text="${editorial.direccion.descripcion}"></td>
                    <td>
                        <form method="post" th:action="@{/editorial/actualizarForm}">
                            <input type="hidden" th:name="id" th:value="${editorial.id}" />
                            <button type="submit" class="editar-button">Editar</button>
                        </form>
                        <a href="javascript:void(0);" class="eliminar-button" th:onclick="'confirmarEliminacion(\'editorial\', ' + ${editorial.id} + ');'">Eliminar</a>
                    </td>
                </tr>
            </table>
            <script src="/js/deleteConfirmation.js"></script>
        </div>

        <div class="alert alert-success" th:if="${exito!=null}" th:text="${exito}"></div>
        <div class="alert alert-error" th:if="${error!=null}" th:text="${error}"></div>
    </body>
</html>
