<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Módulo Editorial</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/CSS/ADMIN_STYLES.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="encabezado">
        <a href="/usuarios/menuPrincipal" class="boton-volver">
            <img src="/img/LOGO.png" alt="Volver" width="95" height="80">
        </a>
        <h3 class="listado-titulo">Lista de Editoriales</h3>
    </div>
    <div class="botonYBuscador"> 
        <div>
            <a href="/editoriales/agregar" class="button">Agregar una nueva editorial</a>
        </div>

        <form action="/editoriales/buscarPorNombre" method="GET">
            <input type="text" id="nombre" name="nombre" placeholder="Ingrese el nombre de la editorial">
            <button type="submit">Buscar</button>
        </form>
    </div>
    <div>
        <table class="table table-bordered">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Fecha de Fundación</th>
                <th>Dirección</th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="editorial : ${editoriales}">
                <td th:text="${editorial.id}"></td>
                <td th:text="${editorial.nombre}"></td>
                <td th:text="${editorial.fechaFundacion}"></td>
                <td th:text="${editorial.direccion.descripcion}"></td>
                <td><a class="editar-button" th:href="@{'/editoriales/actualizar?id=' + ${editorial.id}}">Editar</a></td>
                <td><a class="eliminar-button" href="#" th:onclick="'confirmarEliminacion(this, \'' + ${editorial.id} + '\')'">Eliminar</a></td>
            </tr>
        </table>

        <script>
            function confirmarEliminacion(enlace, idEditorial) {
                if (confirm("¿Está seguro de que desea eliminar esta editorial?")) {
                    window.location.href = '/editoriales/eliminar?id=' + idEditorial;
                }
            }
        </script>
    </div>

    <div class="alert alert-success" th:if="${exito!=null}" th:text="${exito}"></div>
    <div class="alert alert-error" th:if="${error!=null}" th:text="${error}"></div>
</body>
</html>
